
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <title>@ViewData["Title"] - IGLO University</title>
    <link rel="stylesheet" href="~/css/font-awesome.css" />
</head>
<body class="authentication-body">
    <div class="authentication-wrapper">
        <header class="company-logo">
            <h1>
            </h1>
        </header>
        <main>@RenderBody()</main>
    </div>


</body>
</html>
