@{
    Layout = "_Autentikasi";
}

<div class="content">
    <div class="title-form">
        <div>IGLO </div>University
    </div>
    <div class="container">
        <h1 class="wrapper-signinText">
            GAGAL LOGIN
            @ViewBag.halaman
        </h1>
        <div class="wrapper">
                <div class="wrapper-input">

                </div>
                <div class="wrapp-button">
                <a class="btn btn-primary" href="javascript:history.back()">Kembali ke Halaman sebelumnya</a>
                </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/style.css" />